---
layout: splash
title: Welcome
excerpt: Medieval recreation with the Society for Creative Anachronism
header:
  actions:
    - label: "Learn more..."
      url: "/activities/"
---
<div style="margin-left:auto;margin-right:auto;max-width:800px">

<p>Welcome to our shire</p>

</div>

<div style="margin-left:auto;margin-right:auto;max-width:800px">


</div>

<div style="margin-left:auto;margin-right:auto;max-width:800px">

</div>